section1 {
  background-color: violet;
}
section2 {
  background-color: indigo;
}
section3 {
  background-color: blue;
}
section4 {
  background-color: green;
}
section5 {
  background-color: yellow;
}
section6 {
  background-attachment: orange;
}
section7 {
  background-color: red;
}
